<html>
<head>
  <link href="/styles.css" rel="stylesheet" media="all" />
</head>
<body>
<h1>
  Welcome to barbershop!
</h1>

<p>
  "We are open"
</p>

<form action="/" method="POST" />
  your name:                            <br />
  <input type="text" name="user_name"/> <br />
  Your phone:                           <br />
  <input type="text" name="user_phone" /> <br />
  Time write:                             <br />
  <input type="text" name="user_data_time" /> <br />

  <input type="submit" />

</form>
</body>
<p> <%= @message %> </p>
</html>