<h1>Записаться на посещение</h1>

<form actions="/visit" method="POST" role="form">
  #имя
  <div class="form-group">
    <label>Ваше ФИО</label>
    <input name="user_name" type="text" class="form-control" placeholder="ФИО">
  </div>
  #телефон
  <div class="form-group">
    <label>Ваш телефон</label>
    <input type="text" class="form-control" name="user_phone" placeholder="Ваш телефон">
  </div>
  #время
  <div class="form-group">
    <label>Время посищения салона</label>
    <input type="email" class="form-control" name="user_time" placeholder="Время посещения">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>